apiVersion: apps/v1
kind: Deployment
metadata:
  name: tastytap
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tastytap
  template:
    metadata:
      labels:
        app: tastytap
    spec:
#      initContainers:
#        - name: wait-for-mysql
#          image: appropriate/curl
#          command: [ 'sh', '-c', 'until nc -z -v -w30 tastytap-mysql 3306; do echo "Waiting for MySQL..."; sleep 2; done;' ]
      containers:
        - name: app
#          image: "gabrielronei/tastytap:latest"
          image: 264927492157.dkr.ecr.us-east-1.amazonaws.com/tastytap:latest
          ports:
            - containerPort: 8080
          envFrom:
#            - configMapRef:
#                name: general-config-map
            - secretRef:
                name: app-secrets
          resources:
            requests:
              cpu: 100m
              memory: 500Mi
            limits:
              cpu: 500m
              memory: 500Mi
