apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: tastytap-auto-scaling
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: tastytap
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 40
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 30
      policies:
        - type: Percent
          value: 10
          periodSeconds: 15
    scaleUp:
      stabilizationWindowSeconds: 0